/* @import url(https://fonts.googleapis.com/css?family=Roboto:300);
html {
    height: 90%;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: #000 url('Assets/preloader.gif') no-repeat center;
    position: fixed;
    animation: fadeOut 0s 3s forwards;
    animation-duration: 1s;
    display: none;
    z-index: 999;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    background-image: url('Assets/preloader.gif');
    /* your icon gif file path */
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}

#stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}