.initiatives-gallery {
    display: flex;
    justify-content: space-evenly;
}

#gallery-image {
    width: 450px;
    height: 450px;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

#gallery-image:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.gallery-border {
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), #74209C, rgb(255, 255, 255));
    padding: 8px;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.gallery-section {
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 5%;
    padding-top: 5%;
    /* display: none; */
}