@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to top right, #9600db 0%, #080808 100%);
}

.main-logo {
    padding-top: 16%;
    white-space: nowrap;
}

.main-logo>img {
    width: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'arial', cursive;
    text-align: center;
    color: ivory;
    font-size: 500%;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(17, 16, 16), 0 0 20px rgb(105, 104, 104), 0 0 30px rgb(87, 84, 84), 0 0 40px rgb(43, 39, 39), 0 0 50px rgb(19, 15, 15), 0 0 60px rgb(0, 0, 0), 0 0 70px rgb(255, 255, 255);
    }
    to {
        text-shadow: 0 0 20px rgb(10, 4, 4), 0 0 30px rgb(0, 0, 0), 0 0 40px rgb(14, 9, 9), 0 0 50px rgb(10, 6, 6), 0 0 60px rgb(17, 13, 13), 0 0 70px rgb(15, 2, 2), 0 0 80px rgb(255, 255, 255);
    }
}

#sub {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(255, 255, 255);
    font-family: 'arial', cursive;
    font-size: 50px;
    font-weight: 900;
}

#section-2 {
    background-image: url(../Assets/Webbackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 8% auto;
    padding-bottom: 15%;
}

.section-container {
    background-color: #E2EB98;
    box-shadow: rgb(0 0 0 / 10%) 50px 40px 115px;
    color: #000;
    padding: 8%;
    margin-bottom: 15%;
}

.section-left,
.section-right {
    background-color: rgba(0, 0, 0, 0.4);
}

.section-left {
    width: 40%;
    margin-left: 5%;
}

.section-right {
    /* margin-top: 100%; */
    padding-left: 53%;
    padding-top: 6%;
    float: right;
    padding-right: 6%;
}

.sub-details {
    padding: 20px 0 50px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 200%;
    text-align: justify;
    display: block;
}

.stickyicon-list {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.stickyicon-list a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
}

.sub-head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 170%;
}


/* HOver affect on sticky social media icons */

.stickyicon-list a:hover {
    color: #000;
    width: 10px;
}


/* Now we have to design each icon of social media */

.facebook {
    background: #3b5998;
    color: white;
}

.twitter {
    color: white;
    background: #00acee;
}

.linkedin {
    background: #0e76a8;
    color: white;
}

.google {
    color: white;
    background: #db4a39;
}

.instagram {
    background: #3f729b;
    color: white;
}

.youtube {
    color: white;
    background: #c4302b;
}


/*bottom icons*/

.footer-logo>img {
    width: 100px;
    padding: 30px 0 40px 30px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    /* width: 110%; */
}

.footer-title {
    padding-top: 60px;
    padding-left: 20px;
    font-size: 12px;
}

.logo {
    height: 4rem;
}


/* magazine */

.magazine-section {
    margin: 8% auto 5% auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 5%;
}


/* Navbar */


/* .nav-update {
    padding-right: 920px;
} */


/* .container-fluid {
    display: flex;
    justify-content: space-between;
} */


/* .nav-update {
    padding-right: 920px;
} */


/* magazine */

.button_slide {
    margin-top: 2%;
    margin-bottom: 2%;
    color: #FFF;
    border: 2px solid rgb(179, 0, 170);
    border-radius: 5%;
    padding: 1.5% 3%;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #b004c0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    z-index: 0;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #bb09a3;
    color: #000;
    z-index: 999;
}

#outer {
    margin: 0 auto 0 auto;
    text-align: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

#outer>a>img {
    margin: 4% auto 0 auto;
    width: 25%;
    opacity: 0.6;
    transition: 0.3s;
}

#outer>a>img:hover {
    opacity: 1;
}

.disabled {
    display: none;
}

.code {
    background: #fff;
    /* padding: 0.2rem; */
    border-radius: 0.2rem;
    margin: 0 0.3rem;
}

.copyright {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}