@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../Assets/Webbackground.jpeg);
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-logo {
    padding-top: 150px;
}

.main-logo>img {
    width: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'arial', cursive;
    text-align: center;
    color: ivory;
    font-size: 500%;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(17, 16, 16), 0 0 20px rgb(105, 104, 104), 0 0 30px rgb(87, 84, 84), 0 0 40px rgb(43, 39, 39), 0 0 50px rgb(19, 15, 15), 0 0 60px rgb(0, 0, 0), 0 0 70px rgb(255, 255, 255);
    }
    to {
        text-shadow: 0 0 20px rgb(10, 4, 4), 0 0 30px rgb(0, 0, 0), 0 0 40px rgb(14, 9, 9), 0 0 50px rgb(10, 6, 6), 0 0 60px rgb(17, 13, 13), 0 0 70px rgb(15, 2, 2), 0 0 80px rgb(255, 255, 255);
    }
}

#sub {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
    font-family: 'arial', cursive;
    font-size: 50px;
    font-weight: 900;
}

.section-left,
.section-right {
    height: 100%;
    /* padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px; */
    background-color: rgba(0, 0, 0, 0.4);
}

.section-left {
    padding: 20px 0 20px 10%;
    /* background-color: #fff; */
}

.section-right {
    padding: 20px 0 20px 57%;
    /* background-color: rgb(219, 213, 213); */
}

.sub-head {
    padding: 50px 0 0 0;
    /* color: #000; */
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.sub-details {
    /* padding-top: 20px; */
    padding: 20px 0 50px 0;
    /* color: #000; */
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 200%;
    text-align: justify;
    display: block;
    width: 500px;
}

.null-split {
    height: 150px;
}

.stickyicon-list {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.stickyicon-list a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
}


/* HOver affect on sticky social media icons */

.stickyicon-list a:hover {
    color: #000;
    width: 10px;
}


/* Now we have to design each icon of social media */

.facebook {
    background: #3b5998;
    color: white;
}

.twitter {
    color: white;
    background: #00acee;
}

.linkedin {
    background: #0e76a8;
    color: white;
}

.google {
    color: white;
    background: #db4a39;
}

.instagram {
    background: #3f729b;
    color: white;
}

.youtube {
    color: white;
    background: #c4302b;
}


/*bottom icons*/

.footer-logo>img {
    width: 100px;
    padding: 30px 0 40px 30px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
}

.footer-title {
    padding-top: 60px;
    padding-left: 20px;
}

.logo {
    height: 4rem;
}


/* Navbar */

.nav-link {
    font-size: 1.25rem;
}

.event-heading,
.nav-item a {
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.event-heading:after,
.nav-item a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: lightseagreen;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.event-heading:hover:after,
.nav-item a:hover:after {
    width: 100%;
    left: 0;
}

.brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

.brand:hover {
    color: #ffffff;
}


/* Event Carousel */

.carousel-caption button {
    background-color: transparent;
    transition: .3s ease-in-out 0s;
}

.carousel-caption button:hover {
    transform: scale(1.1);
    background-color: #ffffff;
}

.event-heading {
    color: lightseagreen;
}

.card-flyer:hover {
    transform: scale(1.04);
}

.card-flyer {
    transition: transform 2s ease;
}

.nav-update {
    padding-right: 920px;
}

.copyright {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}


/* magazine */

.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    z-index: 0;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
    z-index: 999;
}

#outer {
    width: 364px;
    margin: 0px auto 0 auto;
    text-align: center;
    z-index: 999;
}

#outer>a>img {
    width: 400px;
}