.logo {
  height: 4rem;
}

body {
  background-image: url(../Assets/Webbackground.jpeg);
  font-family: 'Inter', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* Navbar */

.nav-link {
  font-size: 1.25rem;
}

.team-heading,
.nav-item a {
  text-decoration: none;
  letter-spacing: 0.1em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.team-heading:after,
.nav-item a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: lightseagreen;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.team-heading:hover:after,
.nav-item a:hover:after {
  width: 100%;
  left: 0;
}

.brand {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
}

.brand:hover {
  color: #ffffff;
}

/* Team section */

#team {
  padding: 60px 0;
  text-align: center;
  background-color: #d1d1d1;
  color: #ffffff;
}
#team h2 {
  position: relative;
  padding: 0px 0px 15px;
  color: lightseagreen;
}
#team p {
  font-size: 15px;
  font-style: italic;
  padding: 0px;
  margin: 25px 0px 40px;
}
#team .member {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
#team .member .member-info {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -200px;
  transition: 0.4s;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.4);
}
#team .member:hover .member-info {
  left: 0px;
  right: 0px;
}
#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
#team .member .social-links {
  margin-top: 15px;
}
#team .member .social-links a {
  transition: none;
  color: #fff;
}
#team .member .social-links a:hover {
  color: #ffc107;
}
#team .member .social-links i {
  font-size: 18px;
  margin: 0 2px;
}
