html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

html {
    line-height: 1.15
}

body {
    margin: 0
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

hr {
    height: 0
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

iframe,
img {
    max-width: 100%;
    height: auto
}

.container {
    margin: auto;
    max-width: 1024px
}

@media (max-width: 1023px) {
    .container {
        padding: 0 9px
    }
}

@media (min-width: 1480px) {
    .container {
        max-width: 1440px
    }
}

.flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}

.flex-wrap .quart {
    width: calc(25% - 18px);
    margin: 9px
}

@media (max-width: 767px) {
    .flex-wrap .quart {
        width: calc(50% - 18px);
        margin: 9px
    }
}

@media (max-width: 475px) {
    .flex-wrap .quart {
        width: calc(100% - 18px);
        margin: 9px
    }
}

.flex-wrap .third {
    width: calc(33.33% - 18px);
    margin: 9px
}

@media (max-width: 767px) {
    .flex-wrap .third {
        width: calc(100% - 18px);
        margin: 9px
    }
}

.flex-wrap .half {
    width: calc(50% - 18px);
    margin: 9px
}

@media (max-width: 1023px) {
    .flex-wrap .half {
        width: calc(100% - 18px);
        margin: 9px
    }
}

.flex-wrap .twothird {
    width: calc(66.66% - 18px);
    margin: 9px
}

@media (max-width: 1023px) {
    .flex-wrap .twothird {
        width: calc(100% - 18px);
        margin: 9px
    }
}

.flex-wrap .threequart {
    width: calc(75% - 18px);
    margin: 9px
}

@media (max-width: 767px) {
    .flex-wrap .threequart {
        width: calc(100% - 18px);
        margin: 9px
    }
}

.flex-wrap .full {
    width: calc(100% - 18px);
    margin: 9px
}

.grid-wrap {
    display: -ms-grid;
    display: grid;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 18px
}

.grid-wrap .quart {
    grid-column: span 3
}

@media (max-width: 1023px) {
    .grid-wrap .quart {
        grid-column: span 6
    }
}

@media (max-width: 475px) {
    .grid-wrap .quart {
        grid-column: span 12
    }
}

.grid-wrap .third {
    grid-column: span 4
}

@media (max-width: 767px) {
    .grid-wrap .third {
        grid-column: span 12
    }
}

.grid-wrap .half {
    grid-column: span 6
}

@media (max-width: 767px) {
    .grid-wrap .half {
        grid-column: span 12
    }
}

.grid-wrap .twothird {
    grid-column: span 8
}

@media (max-width: 767px) {
    .grid-wrap .twothird {
        grid-column: span 12
    }
}

.grid-wrap .threequart {
    grid-column: span 9
}

@media (max-width: 767px) {
    .grid-wrap .threequart {
        grid-column: span 12
    }
}

.grid-wrap .full {
    grid-column: span 12
}

@supports not (display: grid) {
    .grid-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%
    }
}

input,
textarea {
    border: 2px solid #cbced2;
    border-radius: 6px;
    padding: 0.5em;
    width: 100%
}

input[type="checkbox"] {
    width: auto
}

.btn,
button,
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 3px solid #151515;
    border-radius: 3px;
    padding: 10px 20px;
    color: #151515;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1em
}

.btn:hover,
button:hover,
.button:hover {
    background-color: #e8c152;
    color: #151515
}

mark {
    background: rgba(204, 146, 79, 0.129);
    background: #cc924f21;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 2px
}

p code {
    background: #f4f4f4;
    display: inline-block;
    border: 1px dashed #f4f4f4;
    border-radius: 6px;
    padding: 0 10px
}

html {
    width: 100%
}

body {
    background: #f4f4f4;
    color: #151515;
    position: relative;
    width: 100%
}

header.site-header {
    padding: 1em 0;
    width: 100%;
    z-index: 100;
    background: #f4f4f4
}

header.site-header .flex-wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header.site-header .logo {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

header.site-header .logo img,
header.site-header .logo svg {
    width: auto;
    display: block;
    height: 50px
}

header.site-header .logo h1 {
    font-size: 1em;
    margin: 0
}

@media (max-width: 1023px) {
    header.site-header .logo h1 {
        text-align: center
    }
}

header.site-header .rocket-menu {
    cursor: pointer;
    display: none;
    height: 100%;
    min-width: 40px;
    position: relative;
    z-index: 101
}

header.site-header .rocket-menu svg {
    display: block;
    width: auto;
    height: 100%
}

header.site-header .rocket-menu polygon {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease
}

header.site-header .rocket-menu.open .first-bar {
    opacity: 0
}

header.site-header .rocket-menu.open .second-bar {
    -webkit-transform: rotate(51deg) translate3d(-17px, 19px, 0) scale(1.3);
    transform: rotate(51deg) translate3d(-17px, 19px, 0) scale(1.3);
    -webkit-transform-origin: 50%;
    transform-origin: 50%
}

header.site-header .rocket-menu.open .third-bar {
    -webkit-transform: rotate(-54deg) translate3d(10px, -42px, 0);
    transform: rotate(-54deg) translate3d(10px, -42px, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%
}

@media (max-width: 1023px) {
    header.site-header .rocket-menu {
        display: block
    }
}

header.site-header .menu {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header.site-header .menu ul {
    padding: 0
}

@media (max-width: 1023px) {
    header.site-header .menu .menu-main-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 100vh;
        background: rgba(244, 244, 244, 0.968);
        background: #f4f4f4f7;
        display: none;
        z-index: 100;
        font-size: 1em;
        padding-top: 50px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease
    }
    header.site-header .menu .menu-main-menu-container li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 1em auto
    }
    header.site-header .menu .menu-main-menu-container li:last-child a {
        padding-right: 20px
    }
    header.site-header .menu .menu-main-menu-container li a {
        padding: 20px
    }
}

@media (min-width: 1024px) {
    header.site-header .menu .menu-main-menu-container {
        display: block !important
    }
}

header.site-header .menu .current-menu-item a {
    border-bottom: 2px solid;
    padding: 0;
    margin: 0 20px
}

header.site-header .menu a {
    padding: 0 20px;
    font-size: 1.1em
}

header.site-header .menu a:hover {
    text-decoration: none
}

header.site-header .menu li:last-child a {
    padding-right: 0;
    margin-right: 0
}

@media (max-width: 767px) {
    header.site-header .menu {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.simpul-hero {
    background-color: #151515;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 8em 0 6em;
    position: relative
}

@media (max-width: 475px) {
    .simpul-hero {
        padding: 3em 0
    }
}

.simpul-hero .hero-content {
    display: inline-block
}

@media (max-width: 475px) {
    .simpul-hero .hero-content {
        padding: 0.5em
    }
}

.simpul-hero.home {
    background-image: url(/wp-content/themes/guwii/img/underdark.jpg)
}

.simpul-hero h1 {
    margin-bottom: 0.5em
}

.simpul-hero h2,
.simpul-hero p {
    margin-top: 0;
    color: #f4f4f4
}

.simpul-hero h1,
.simpul-hero h2 {
    color: white
}

.simpul-hero h3 {
    font-size: 2em
}

.simpul-hero h4 {
    color: white;
    font-size: 2em
}

footer.site-footer {
    background-color: #151515;
    padding: 4em 0;
    position: relative;
    overflow: hidden;
    color: #f4f4f4
}

footer.site-footer .svg-triangle {
    display: block;
    position: absolute;
    width: 200%;
    height: 210%;
    fill: #f4f4f4;
    left: -77%;
    top: -73%;
    -webkit-transform: rotate(73deg);
    transform: rotate(73deg);
    z-index: 0;
    transform: rotate(73deg)
}

footer.site-footer .svg-triangle--smaller {
    width: 80px;
    height: 80px;
    left: 30px;
    top: -30px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
}

footer.site-footer h6 {
    margin: 0;
    width: 100%
}

footer.site-footer .btn {
    margin: auto;
    color: #f4f4f4;
    border-color: #f4f4f4
}

footer.site-footer .third:nth-child(2) {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

footer.site-footer .third:nth-child(2) h6 {
    margin-bottom: 1em
}

footer.site-footer .third:last-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right
}

@media (max-width: 1023px) {
    footer.site-footer .third:last-child {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
}

footer.site-footer .third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

footer.site-footer .third a.footer-logo {
    display: block;
    width: 100%;
    max-width: 200px
}

@media (max-width: 1023px) {
    footer.site-footer .third {
        text-align: center
    }
}

footer.site-footer .copyright {
    width: 100%;
    font-size: 0.8em
}

footer.site-footer .copyright a {
    color: #f4f4f4;
    margin: 13px 0;
    display: inline-block
}

.social-icons {
    width: 100%;
    position: relative
}

@media (max-width: 1023px) {
    .social-icons {
        margin: 2em 0
    }
}

.social-icons img {
    max-width: 30px;
    margin-right: 0.5em
}

.social-icons a {
    color: #f4f4f4
}

.social-icons .social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative
}

@media (max-width: 1023px) {
    .social-icons .social-icon {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.footer-tel {
    text-align: center;
    color: #f4f4f4;
    margin: 1em auto
}

body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    color: #151515;
    word-wrap: break-word
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    display: block;
    margin-bottom: 1em;
    line-height: 1em
}

h1 {
    font-size: 4em
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.5em
    }
}

h2 {
    font-size: 3.5em
}

@media (max-width: 767px) {
    h2 {
        font-size: 2em
    }
}

h3 {
    font-size: 3.2em
}

@media (max-width: 767px) {
    h3 {
        font-size: 1.8em
    }
}

h4 {
    font-size: 3em
}

@media (max-width: 767px) {
    h4 {
        font-size: 1.6em
    }
}

h5 {
    font-size: 2.5em
}

@media (max-width: 767px) {
    h5 {
        font-size: 1.3em
    }
}

h6 {
    font-size: 2em
}

@media (max-width: 767px) {
    h6 {
        font-size: 1.2em
    }
}

a {
    color: #151515;
    text-decoration: none;
    text-decoration-skip-ink: auto
}

a:hover {
    color: #e8c152;
    text-decoration: underline
}

p {
    margin-bottom: 1em;
    line-height: 1.6em
}

blockquote {
    border-left: 10px solid #151515;
    margin-left: 0;
    padding: 1.5em;
    position: relative
}

blockquote:after {
    content: '”';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5em;
    line-height: 1em;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
}

ul {
    list-style-type: none
}

.content-area a {
    font-weight: 400;
    text-decoration: underline
}

.content-area a.btn {
    text-decoration: none
}

pre,
code {
    font-family: "Fira Mono", sans-serif;
    font-weight: 400
}

html,
body {
    width: 100%;
    overflow-x: hidden
}

.simpul-hero.home h2 {
    margin: 0
}

.simpul-hero.home h4 {
    margin: 1em 0 3em
}

.dontImagine {
    background: #17171d;
    padding: 50px 0;
    text-align: center;
    position: relative
}

.dontImagine h3 {
    margin: 0;
    font-weight: 400;
    font-size: 2em;
    display: inline-block;
    margin: auto;
    text-align: left;
    line-height: 1.3em;
    color: #f4f4f4
}

@media (max-width: 767px) {
    .dontImagine h3 {
        padding: 0 0.5em
    }
}

.usAndYou {
    padding: 70px 0;
    background: -webkit-gradient(linear, left top, right top, from(#23232f), to(#121217));
    background: linear-gradient(to right, #23232f, #121217);
    color: white
}

.us,
.you {
    padding: 50px
}

.us h4,
.us p,
.you h4,
.you p {
    display: block
}

.us h4,
.you h4 {
    font-size: 3.2em;
    margin: 0
}

.together,
.we-can {
    background: #1a1a1f;
    color: #f4f4f4
}

.together h3,
.we-can h3 {
    font-size: 3em;
    margin: 20px 0 50px
}

.together {
    padding: 12em 0 15em
}

@media (max-width: 1023px) {
    .together {
        padding: 4em 0 6em
    }
    .together .container {
        position: relative;
        z-index: 1000;
        background: rgba(26, 26, 32, 0.6509803922);
        background: #1a1a20a6
    }
}

.we-can {
    padding: 12em 0 10em;
    position: relative
}

@media (max-width: 767px) {
    .we-can {
        padding: 8em 0 4em
    }
}

.we-can #fuseBtn {
    color: #f4f4f4;
    border-color: #f4f4f4;
    margin-left: 1em
}

@media (max-width: 1023px) {
    .we-can #fuseBtn {
        margin-left: auto
    }
}

.we-can #fuseBtn:hover #lever {
    -webkit-transform: translateY(13px);
    transform: translateY(13px)
}

.we-can * {
    z-index: 5
}

.we-can:after {
    content: '';
    background-image: url(/img/geo-pattern.png);
    background-size: 40%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0
}

#rocketBlastOff {
    position: relative
}

#rocketBlastOff #fuse {
    position: absolute;
    bottom: 0;
    height: 85%;
    stroke-dashoffset: 0;
    -webkit-transition: all 2.5s linear;
    transition: all 2.5s linear;
    stroke-dasharray: 1000
}

@media (max-width: 767px) {
    #rocketBlastOff #fuse {
        -webkit-transform: rotate(87deg);
        transform: rotate(87deg);
        height: calc(100vw - 100px);
        -webkit-transform-origin: bottom;
        transform-origin: bottom
    }
}

#rocketBlastOff.light #fuse {
    stroke-dashoffset: 1000
}

#rocketBlastOff #fuseBox {
    position: absolute;
    left: 0;
    width: 50px;
    bottom: 0;
    height: 70px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 2.5s linear;
    transition: all 2.5s linear
}

@media (max-width: 767px) {
    #rocketBlastOff #fuseBox {
        position: relative;
        -webkit-transform: none;
        transform: none
    }
}

.light #lever {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
}

#rocketFuel {
    width: 80px;
    -webkit-transform-origin: top;
    transform-origin: top;
    z-index: 100 !important
}

#rocketFuel.rocket-launch {
    width: 120px;
    left: calc(50% - 60px) !important
}

.rocket-contact {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center
}

@media (max-width: 767px) {
    .rocket-contact {
        background: #f4f4f4;
        border-radius: 8px;
        bottom: -10%
    }
}

.rocket-contact h3 {
    color: #151515;
    font-size: 1.7em;
    padding: 1em;
    border-radius: 8px 8px 0 0;
    margin: 0
}

.rocket-contact span {
    color: #151515;
    display: block;
    margin-bottom: 1em
}

.rocket-contact,
.send-button {
    display: none
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #151515;
    background: rgba(35, 35, 35, 0.909);
    background: #232323e8;
    z-index: 9
}

#closeRocket {
    display: none;
    line-height: 0;
    color: #f4f4f4;
    cursor: pointer;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    z-index: 100;
    border-radius: 50%;
    vertical-align: middle;
    left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 0
}

#closeRocket span {
    border: 2px solid #151515;
    line-height: 13px;
    border-radius: 50%;
    padding: 1em;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #f4f4f4;
    font-weight: 900;
    color: #151515
}

@media (max-width: 767px) {
    .what-waiting-for {
        width: 100%;
        text-align: center
    }
    .what-waiting-for a {
        margin: 1em auto 5em
    }
}

.rocket-launch .rocket-contact {
    display: block
}

.rocket-launch#rocketFuel {
    cursor: pointer
}

.rocket-launch #closeRocket {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

#rocketBody {
    width: 140px;
    -webkit-transform-origin: bottom;
    transform-origin: bottom
}

#rocketBody svg {
    display: block
}

#rocketBody.rocket-launch {
    width: 100%;
    left: 0 !important
}

#rocketBody.rocket-launch svg {
    width: 100%;
    max-width: 500px;
    margin: auto
}

#rocketFuel,
#rocketBody {
    position: absolute;
    opacity: 0.2;
    z-index: 10
}

#rocketFuel.launch-prep,
#rocketBody.launch-prep {
    -webkit-transition: all 2.5s ease;
    transition: all 2.5s ease
}

#rocketFuel.rocket-launch,
#rocketBody.rocket-launch {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

.rocket-holder {
    width: 30%
}

@media (max-width: 767px) {
    .rocket-holder {
        width: 100%
    }
}

.together-content,
.achieve-content {
    width: 70%
}

@media (max-width: 767px) {
    .together-content,
    .achieve-content {
        width: 100%
    }
}

.together-content p,
.achieve-content p {
    max-width: 760px
}

.stand-out {
    background: #151515;
    font-size: 2em;
    background-size: contain;
    background-position: center;
    background-image: url(/img/guwii-pattern.jpg);
    margin: 0;
    border: 10px solid #151515;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    margin: -1em;
    padding: 3em;
    position: relative;
    z-index: 9
}

@media (max-width: 767px) {
    .stand-out {
        padding: 0.5em
    }
    .stand-out p {
        font-size: 1rem;
        font-weight: 400
    }
}

.stand-out p {
    background: #f4f4f4;
    color: #151515;
    padding: 1em;
    border: 10px solid #151515;
    font-weight: 900;
    max-width: 920px;
    margin: auto;
    -webkit-box-shadow: 0px 12px 17px 0px rgba(29, 29, 29, 0.529);
    box-shadow: 0px 12px 17px 0px rgba(29, 29, 29, 0.529);
    -webkit-box-shadow: 0px 12px 17px 0px #1d1d1d87;
    box-shadow: 0px 12px 17px 0px #1d1d1d87
}

.blueLine {
    position: absolute;
    height: 15px;
    background-color: #183763;
    width: 12%;
    top: 15%;
    left: 0%
}

@-webkit-keyframes animatedBackground {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 100% 0
    }
}

@keyframes animatedBackground {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 100% 0
    }
}

.gradientAnimatedBar {
    width: 15px;
    height: 100%;
    margin-top: -100px;
    margin-left: -50px;
    display: inline-block;
    position: absolute;
    z-index: 0;
    background-image: url(/wp-content/themes/guwii/img/bg-wave.svg);
    background-position: 0px 0px;
    background-size: cover;
    -webkit-animation: animatedBackground 2s linear infinite;
    animation: animatedBackground 2s linear infinite
}

.about-guwii {
    color: #f4f4f4
}

.about-guwii .btn {
    color: #f4f4f4;
    border-color: #f4f4f4;
    margin-top: 1em
}

.about-guwii p {
    width: 100%
}

aside.background-video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0
}

aside.background-video:after {
    content: '';
    background: rgba(0, 0, 0, 0.901);
    background: #000000e6;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0
}

aside.background-video video {
    position: fixed;
    z-index: -2;
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.blog-list-page {
    padding: 1em 0;
    position: relative;
    background: #151515;
    background: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#0e2439));
    background: linear-gradient(to bottom, #151515, #0e2439)
}

.blog-list-page a {
    text-decoration: none;
    color: #151515
}

.blog-list-page p {
    background: #151515;
    position: relative;
    margin-top: -4em;
    padding: 1em;
    color: #f4f4f4;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.blog-list-page .blog-list-meta {
    background: #f4f4f4;
    color: #151515;
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 200
}

.blog-list-page .blog--item {
    background: #f4f4f4;
    border-radius: 5px;
    background-size: cover;
    position: relative;
    padding: 4em;
    -webkit-box-shadow: 0 9px 16px -2px rgba(14, 14, 14, 0.38);
    box-shadow: 0 9px 16px -2px rgba(14, 14, 14, 0.38);
    -webkit-box-shadow: 0 9px 16px -2px #0e0e0e61;
    box-shadow: 0 9px 16px -2px #0e0e0e61;
    position: relative;
    z-index: 5;
    color: #f4f4f4;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease
}

@media (max-width: 767px) {
    .blog-list-page .blog--item {
        padding: 1em
    }
}

.blog-list-page .blog--item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 3px;
    background-color: rgba(14, 33, 52, 0.749);
    background-color: #0e2134bf;
    opacity: 0.8
}

.blog-list-page .blog--item:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0px 14px 17px 2px rgba(14, 14, 14, 0.38);
    box-shadow: 0px 14px 17px 2px rgba(14, 14, 14, 0.38);
    -webkit-box-shadow: 0px 14px 17px 2px #0e0e0e61;
    box-shadow: 0px 14px 17px 2px #0e0e0e61
}

.blog-list-page .blog--item * {
    z-index: 10;
    position: relative
}

.blog-list-page .blog--item h3 {
    font-size: 2em;
    margin: 0 auto 0.3em
}

.blog-list-page .btn {
    margin: 1em 0 0;
    text-align: center;
    color: #f4f4f4;
    border-color: #f4f4f4
}

.pagination {
    list-style: none;
    margin: 2em auto 0;
    width: 100%;
    text-align: center
}

.pagination ul {
    padding: 0;
    margin: 0
}

.pagination li {
    display: inline-block
}

.pagination a {
    padding: 3px 10px;
    border: 2px solid #151515;
    border-radius: 3px;
    margin: 0 5px;
    color: #f4f4f4;
    display: block
}

.pagination a:hover {
    background: rgba(21, 21, 21, 0.5);
    color: #f4f4f4
}

.pagination .current a {
    background: #151515;
    color: white
}

.single-blog-item {
    padding: 4em 0
}

.simpul-hero.single-blog {
    padding: 25em 0 0
}

.simpul-hero.single-blog .container {
    background: rgba(8, 82, 92, 0.901);
    background: #08525ce6;
    padding: 2em
}

.content-area {
    margin-bottom: 2em
}

.content-area .container {
    max-width: 1024px
}

.content-area .container iframe {
    width: 100%;
    max-width: 100%
}

.wp-caption {
    max-width: 100%
}

.content {
    width: 100%;
    max-width: 100%
}

.content p {
    max-width: 768px;
    margin: 1em auto;
    font-weight: 200
}

@media (max-width: 767px) {
    .content p {
        width: 100%;
        padding: 0 1em
    }
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    max-width: 868px;
    margin: 1em auto
}

@media (max-width: 767px) {
    .content h1,
    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6 {
        width: 100%;
        padding: 0 1em
    }
}

.content blockquote {
    max-width: 868px;
    margin: 1em auto
}

@media (max-width: 767px) {
    .content blockquote {
        width: 100%;
        padding: 0 1em
    }
}

.content img {
    margin: 3em auto;
    -webkit-box-shadow: 0 18px 42px 1px rgba(136, 136, 136, 0.65);
    box-shadow: 0 18px 42px 1px rgba(136, 136, 136, 0.65);
    -webkit-box-shadow: 0 18px 42px 1px #888888a6;
    box-shadow: 0 18px 42px 1px #888888a6;
    display: block
}

.content img.no-shadow {
    -webkit-box-shadow: none;
    box-shadow: none
}

.content hr {
    border: none;
    max-width: 480px;
    margin: 4em auto;
    height: 1px;
    background: #e8c152
}

.content .wp-video {
    margin: auto;
    -webkit-box-shadow: 0 18px 42px 1px rgba(136, 136, 136, 0.65);
    box-shadow: 0 18px 42px 1px rgba(136, 136, 136, 0.65);
    -webkit-box-shadow: 0 18px 42px 1px #888888a6;
    box-shadow: 0 18px 42px 1px #888888a6;
    border-radius: 30px;
    margin: 5em auto 7em
}

.content ul li,
.content ol li {
    margin-bottom: 0.3em;
    padding: 0.5em 0
}

.content ul li:last-of-type,
.content ol li:last-of-type {
    margin-bottom: 0
}

.content ul li:before,
.content ol li:before {
    content: "\25B3";
    margin-left: -31px;
    margin-right: 13px
}

.content a.inline-btn {
    background: #e8c152;
    text-decoration: none;
    padding: 0.3em 0.6em;
    display: inline-block;
    margin-bottom: 0.4em;
    color: #f4f4f4;
    border-radius: 30px;
    text-decoration: none;
    -webkit-transition: all 0.23s ease;
    transition: all 0.23s ease
}

.content a.inline-btn:hover {
    border-radius: 0
}

header.blog-single {
    background: #151515;
    color: #f4f4f4;
    padding: 1em 0 4em;
    margin-bottom: 2em
}

.youtube_video iframe {
    min-height: 300px;
    min-height: 40vw
}

.author-picture {
    max-width: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 10px
}

.work-list-page {
    padding: 2em 0
}

.work-list-page .pagination li.current a {
    color: #f4f4f4
}

.work-list-page .pagination a {
    color: #151515
}

.work--item {
    padding: 2em;
    margin: 2em auto;
    width: 100%;
    border-radius: 10px;
    position: relative;
    color: #f4f4f4;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    will-change: transform;
    overflow: hidden
}

@media (max-width: 767px) {
    .work--item {
        margin: 0.5em;
        width: calc(100% - 1em)
    }
}

.work--item:hover {
    color: #f4f4f4;
    text-decoration: none;
    -webkit-box-shadow: 0 10px 22px 4px #dfdfdf;
    box-shadow: 0 10px 22px 4px #dfdfdf
}

.work--item:hover .work-image-bg {
    -webkit-transform: scale(1.08);
    transform: scale(1.08)
}

.work--item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(21, 21, 21, 0.68)), to(transparent));
    background: linear-gradient(90deg, rgba(21, 21, 21, 0.68), transparent);
    border-radius: 10px;
    z-index: 0
}

@media (max-width: 767px) {
    .work--item {
        background-color: #151515;
        background-image: none !important
    }
    .work--item::after {
        background: -webkit-gradient(linear, left top, right top, from(#151515), to(rgba(69, 69, 69, 0.5)));
        background: linear-gradient(90deg, #151515, rgba(69, 69, 69, 0.5))
    }
}

.work--item:last-child {
    margin-bottom: 0
}

.work--item:hover img {
    -webkit-filter: contrast(1.3) brightness(1.1) hue-rotate(6deg);
    filter: contrast(1.3) brightness(1.1) hue-rotate(6deg)
}

.work--item h3,
.work--item .work-excerpt {
    width: 380px;
    max-width: 100%
}

.work--item h3 {
    margin-top: 0
}

.work--item .work-image-bg {
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1
}

@media (max-width: 475px) {
    .work--item .work-image-bg {
        position: relative;
        margin: -2em -2em 2em;
        width: auto;
        height: auto;
        z-index: 1
    }
    .work--item .work-image-bg img {
        width: calc(100% + 4em)
    }
}

.work--item .work-image-bg img {
    width: 100%;
    display: block;
    border-radius: 9px 9px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.work--item .btn {
    color: #f4f4f4;
    border-color: #f4f4f4;
    margin-top: 1em;
    margin-bottom: 0
}

.work--item * {
    position: relative;
    z-index: 10
}

.work-single .work-header {
    background-size: cover;
    width: 100%;
    min-height: 600px;
    min-height: 56vh;
    background-position: center;
    padding-top: 5em
}

.work-single h1 {
    color: #f4f4f4;
    background: #151515;
    font-size: 3.5em;
    max-width: 650px;
    padding: 1em;
    margin-left: auto;
    margin-top: -10%;
    text-align: right
}

@media (max-width: 767px) {
    .work-single h1 {
        padding: 0.5em;
        font-size: 2.5em;
        text-align: left
    }
}

.work-single .content {
    padding-top: 1em
}

.work-single .work-link-span {
    display: block;
    max-width: 100%;
    text-align: center;
    margin: 1em
}

.work-single .work-link-span a {
    text-decoration: none
}

.work-single .work-gallery {
    line-height: 0;
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 0px;
    column-gap: 0px;
    background: #2e2f31;
    padding: 2em;
    margin: 4em auto;
    -webkit-box-shadow: 0 18px 42px 1px #d5d5d5;
    box-shadow: 0 18px 42px 1px #d5d5d5;
    background: #183763
}

@media (max-width: 767px) {
    .work-single .work-gallery {
        -webkit-column-count: 2;
        column-count: 2;
        padding: 0
    }
}

@media (max-width: 475px) {
    .work-single .work-gallery {
        -webkit-column-count: auto;
        column-count: auto
    }
}

.work-single .work-gallery img {
    width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.work-single .work-gallery br {
    display: none
}

.client-feedback {
    padding: 6em 6em 4em;
    background: #151515;
    color: #f4f4f4;
    margin: 4em 0;
    position: relative
}

@media (max-width: 767px) {
    .client-feedback {
        padding: 2em
    }
}

@media (max-width: 475px) {
    .client-feedback {
        padding: 2em 1em
    }
}

.client-feedback .client-feedback-subtle {
    background: #151515;
    position: absolute;
    top: 41px;
    left: 71px;
    margin: 0;
    font-size: 9em;
    font-weight: 900;
    line-height: 1em;
    color: #232323;
    text-shadow: 1px 1px 0px #000
}

@media (max-width: 1023px) {
    .client-feedback .client-feedback-subtle {
        top: 0.9em;
        left: 2em;
        font-size: 3em;
        font-weight: 200;
        color: #333
    }
}

@media (max-width: 767px) {
    .client-feedback .client-feedback-subtle {
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        font-size: 2.5em
    }
}

.client-feedback blockquote {
    max-width: 868px;
    margin: 1em auto;
    line-height: 1.8em;
    border-left: none
}

@media (max-width: 767px) {
    .client-feedback blockquote {
        width: 100%;
        padding: 0 1em
    }
}

.client-feedback blockquote .author {
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 0.7em
}

.contact-page h1 {
    width: 50%;
    background-image: url(/img/up-dug.gif);
    padding: 80px;
    background-size: cover;
    color: white;
    margin-bottom: 0
}

@media (max-width: 1023px) {
    .contact-page h1 {
        width: 100%;
        padding: 1em;
        background-position: center
    }
}

.contact-page h2 {
    margin: 0;
    margin-left: auto;
    margin-top: -1em;
    width: 80%;
    background: #151515;
    color: white;
    padding: 1em
}

.contact-page .map {
    width: 66.66%;
    background: #f4f4f4
}

@media (max-width: 1023px) {
    .contact-page .map {
        width: 100%
    }
}

.contact-page .map img {
    display: block;
    width: 100%
}

.contact-page .map #circles circle {
    opacity: 0;
    -webkit-animation-name: pulsate;
    animation-name: pulsate;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    fill: rgba(218, 218, 218, 0.109);
    fill: #dadada1c;
    stroke: rgba(232, 193, 82, 0.278);
    stroke: #e8c15247;
    stroke-width: 1px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.contact-page .map #circles circle[r="3"] {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s
}

.contact-page .map #circles circle[r="11"] {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

.contact-page .map #circles circle[r="17"] {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

.contact-page .map #circles circle[r="23"] {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}

.contact-page .general-info {
    width: 33.33%;
    color: white;
    padding: 3em;
    background: #151515
}

@media (max-width: 1023px) {
    .contact-page .general-info {
        width: 100%
    }
}

.contact-page .general-info a {
    color: white;
    margin-bottom: 1em;
    display: inline-block
}

.contact-page .contact-form {
    width: 100%;
    background: #151515;
    background-image: url(/wp-content/themes/guwii/img/slate.png);
    background-size: cover;
    margin-top: 2em
}

.contact-page .contact-form #secondname {
    display: none
}

.contact-page .contact-form .services-options {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.contact-page .contact-form .budget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.contact-page .contact-form .service--option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.contact-page .contact-form .service--option label {
    line-height: 1em;
    padding: 1em 0.5em
}

.contact-page .contact-form .btn {
    margin-top: 1em
}

.contact-page form {
    max-width: 700px;
    padding: 2em;
    margin: auto;
    color: white
}

@media (max-width: 475px) {
    .contact-page form {
        padding: 1em
    }
}

.contact-page form input {
    border-radius: 6px
}

.contact-page form select {
    border: 2px solid #cbced2;
    border-radius: 6px;
    padding: 0.5em
}

.contact-page form .enquiry-type label {
    display: block;
    background: #151515;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    margin-bottom: 1em;
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
}

.contact-page form .enquiry-type label:hover {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    border-bottom: 1px solid transparent
}

.contact-page form .enquiry-type label.active {
    background: #e8c152;
    -webkit-box-shadow: 0px 6px 17px -2px rgba(232, 193, 82, 0.458);
    box-shadow: 0px 6px 17px -2px rgba(232, 193, 82, 0.458);
    -webkit-box-shadow: 0px 6px 17px -2px #e8c15275;
    box-shadow: 0px 6px 17px -2px #e8c15275;
    -webkit-transform: translateY(1px) scale(1.1);
    transform: translateY(1px) scale(1.1)
}

.contact-page form .enquiry-type input[type="radio"] {
    display: none
}

.contact-page form input[type="submit"] {
    background: #f4f4f4
}

.contact-page form .services h3 {
    margin: 0.5em 0
}

#form-messages.success,
#form-messages.failure {
    padding: 1em;
    width: 100%;
    border-radius: 7px;
    text-align: center;
    border: 3px solid #151515
}

#form-messages.success {
    background: rgba(33, 169, 90, 0.56);
    background: #21a95a8f
}

#form-messages.failure {
    background: rgba(173, 66, 66, 0.509);
    background: #ad424282
}

@media (max-width: 475px) {
    .services-page h1 {
        margin: 0.2em 0 0.5em
    }
}

.special-block {
    background: #151515;
    color: #f4f4f4;
    padding: 2em 0
}

.special-block.offset-left {
    margin-right: auto
}

.special-block.offset-left h2 {
    margin-left: calc( (100vw - (1024px)) / 2);
    font-size: 3em
}

@media (max-width: 1023px) {
    .special-block.offset-left h2 {
        margin-left: 18px
    }
}

.special-block.offset-right {
    margin-left: auto;
    margin-top: -2em;
    text-align: right;
    margin-bottom: 200px;
    background: none
}

.special-block.offset-right h3 {
    margin-left: auto;
    margin-right: calc( (100vw - (1024px)) / 2);
    font-size: 2em;
    background: #f4f4f4;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 2em;
    color: #151515;
    -webkit-box-shadow: 5px -4px 14px 3px rgba(154, 154, 154, 0.2);
    box-shadow: 5px -4px 14px 3px rgba(154, 154, 154, 0.2);
    -webkit-box-shadow: 5px -4px 14px 3px #9a9a9a33;
    box-shadow: 5px -4px 14px 3px #9a9a9a33;
    -webkit-transform: skew(-8deg) rotate(0deg) translateY(-30%);
    transform: skew(-8deg) rotate(0deg) translateY(-30%);
    margin-bottom: -38%
}

.special-block.offset-left,
.special-block.offset-right {
    max-width: 70%
}

.special-block.offset-left h2,
.special-block.offset-left h3,
.special-block.offset-right h2,
.special-block.offset-right h3 {
    max-width: 512px
}

@media (max-width: 1023px) {
    .special-block.offset-left,
    .special-block.offset-right {
        width: 100%;
        max-width: 100%;
        margin: auto !important;
        padding: 1em
    }
    .special-block.offset-left h2,
    .special-block.offset-right h2 {
        padding: 0.6em
    }
    .special-block.offset-left h2,
    .special-block.offset-left h3,
    .special-block.offset-right h2,
    .special-block.offset-right h3 {
        max-width: 100%;
        margin: auto;
        -webkit-transform: none;
        transform: none
    }
}

@media (max-width: 475px) {
    .special-block.offset-left h2,
    .special-block.offset-left h3,
    .special-block.offset-right h2,
    .special-block.offset-right h3 {
        font-size: 2em;
        padding: 0.5em
    }
    .special-block.offset-left h3,
    .special-block.offset-right h3 {
        font-size: 1.3em
    }
}

.services-we-offer-title {
    margin-top: 1.5em
}

.services-list {
    padding: 2em 0
}

@media (min-width: 768px) and (max-width: 1023px) {
    .services-list .half {
        width: calc(50% - 18px);
        margin: 9px
    }
}

.services-list--item {
    padding: 2em 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.services-list--item:nth-child(even) .service-icon {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

@media (max-width: 767px) {
    .services-list--item:nth-child(even) .service-icon {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0
    }
}

.services-list--item h2,
.services-list--item h4,
.services-list--item p {
    margin: 0 0 0.5em
}

@-webkit-keyframes itBinary {
    0% {
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0)
    }
}

@keyframes itBinary {
    0% {
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0)
    }
}

#it-binary {
    -webkit-animation: itBinary 4s ease-in alternate infinite;
    animation: itBinary 4s ease-in alternate infinite
}

#mouse-clicks circle {
    opacity: 0;
    -webkit-animation-name: pulsate;
    animation-name: pulsate;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    fill: rgba(218, 218, 218, 0.109);
    fill: #dadada1c;
    stroke: rgba(232, 193, 82, 0.278);
    stroke: #e8c15247;
    stroke-width: 1px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

#mouse-clicks circle[r="3"] {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s
}

#mouse-clicks circle[r="11"] {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

#mouse-clicks circle[r="17"] {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

#mouse-clicks circle[r="23"] {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.left-signal,
.right-signal {
    -webkit-animation-name: pulsate;
    animation-name: pulsate;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.left-signal--1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.left-signal--2 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s
}

.left-signal--3 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

.right-signal--1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.right-signal--2 {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s
}

.right-signal--3 {
    -webkit-animation-delay: 1.50s;
    animation-delay: 1.50s
}

.marketing-squiggle {
    -webkit-animation-name: marketingSquiggle;
    animation-name: marketingSquiggle;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    transform-box: fill-box;
    -webkit-transform-origin: left;
    transform-origin: left
}

.marketing-squiggle:nth-of-type(3) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s
}

.marketing-squiggle:nth-of-type(4) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

.marketing-squiggle:nth-of-type(5) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}

@-webkit-keyframes marketingSquiggle {
    0% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg)
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes marketingSquiggle {
    0% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg)
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #272822
}

:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray
}

.token.punctuation {
    color: #f8f8f2
}

.namespace {
    opacity: .7
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672
}

.token.boolean,
.token.number {
    color: #ae81ff
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #e6db74
}

.token.keyword {
    color: #66d9ef
}

.token.regex,
.token.important {
    color: #fd971f
}

.token.important,
.token.bold {
    font-weight: bold
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #151515
}

#wpadminbar {
    display: none
}

html[lang="en-US"] {
    margin-top: 0 !important
}