/* @media only screen and (max-width:320px) {
    #section-2 {
        margin-top: 26%;
        padding-bottom: 59%;
    }
    .main-logo>img {
        width: 40%;
    }
    .glow {
        font-size: 25%
    }
    .section-left,
    .section-right {
        margin: 5%;
        padding: 0;
        width: 90%;
    }
    .sub-details {
        font-size: 13px;
    }
    .section-container {
        padding: 8%;
        margin-bottom: 15%;
    }
    #sub {
        margin-top: 6%;
        margin-bottom: 6%;
        padding-bottom: 28px;
        font-size: 166%;
    }
    .initiatives-gallery {
        padding-top: 9%;
        height: auto;
    }
}

@media only screen and (max-width:375px) {
    #section-2 {
        margin-top: 26%;
        padding-bottom: 59%;
    }
    .main-logo>img {
        width: 40%;
    }
    .glow {
        font-size: 25%
    }
    .section-left,
    .section-right {
        margin: 5%;
        padding: 0;
        width: 90%;
    }
    .sub-details {
        font-size: 13px;
    }
    .section-container {
        padding: 8%;
        margin-bottom: 15%;
    }
    #sub {
        margin-top: 6%;
        margin-bottom: 6%;
        padding-bottom: 28px;
        font-size: 166%;
    }
    .initiatives-gallery {
        align-content: center;
        padding-top: 7%;
        width: 75%;
        margin: auto;
        height: 100%;
    }
}

@media only screen and (max-width:770px) {
    .section-left,
    .section-right {
        margin: 5%;
        padding: 0;
        width: 90%;
    }
    .sub-details {
        font-size: 13px;
        line-height: 174%;
    }
    .section-container {
        padding: 8%;
        margin-bottom: 15%;
    }
    #sub {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 50px;
        font-weight: 900;
    }
    .initiatives-gallery {
        align-content: center;
        padding-top: 7%;
        width: 75%;
        margin: auto;
        height: 100%;
    }
    .sub-details {
        padding: 20 px 0 50 px 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        line-height: 38px;
        text-align: justify;
        display: block;
    }
    #outer>a>img {
        width: 57%;
    }
}

@media only screen and (max-width:1030px) {
    #outer>a>img {
        width: 57%;
    }
}

@media only screen and (max-width:280px) {
    #sub {
        font-size: 28px;
    }
} */


/* @media only screen and (min-width:1200px) {
    #section-2 {
        margin-top: 26%;
        padding-bottom: 59%;
    }
    .main-logo>img {
        width: 40%;
    }
    .glow {
        font-size: 25%
    }
    .section-left,
    .section-right {
        margin: 5%;
        padding: 0;
        width: 90%;
    }
    .sub-details {
        font-size: 13px;
    }
    .section-container {
        padding: 8%;
        margin-bottom: 15%;
    }
    #sub {
        margin-top: 6%;
        margin-bottom: 6%;
        padding-bottom: 28px;
        font-size: 166%;
    }
    .initiatives-gallery {
        padding-top: 9%;
        height: auto;
    }
} */

@media only screen and (max-width:1024px) {
    .main-logo>img {
        width: 40%;
    }
    .glow {
        font-size: 25%
    }
    .section-left,
    .section-right {
        margin: 5%;
        padding: 0;
        width: 90%;
    }
    .sub-details {
        font-size: 13px;
    }
    .section-container {
        padding: 8%;
        margin-bottom: 15%;
    }
    .section-left,
    .section-right {
        margin: 5%;
        padding: 0;
        width: 90%;
    }
    .sub-details {
        font-size: 13px;
    }
    .section-container {
        padding: 8%;
        margin-bottom: 15%;
    }
}


/* @media only screen and (max-width:511px) {
    .glow {
        font-size: 33px;
    }
    main-logo>img {
        width: 12%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-logo {
        padding-top: 40%;
    }
}

@media only screen and (max-width:1366px) {
    .initiatives-gallery {
        margin-top: 10%;
    }
}

@media only screen and (max-width:900px) {}

@media only screen and (min-width: 900px) {} */